<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.nexushub.nexushub</string>
  <key>ProgramArguments</key>
  <array>
    <string>__APP_DIR__/bin/nexushubd</string>
    <string>--config</string>
    <string>__APP_DIR__/config.toml</string>
    <string>serve</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__APP_DIR__</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/nexushubd.out.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/nexushubd.err.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>RUST_LOG</key>
    <string>nexushubd=info,tower_http=info</string>
  </dict>
</dict>
</plist>
